/********************************************
   HTML ELEMENTS
********************************************/ 

/* top elements */
* { margin: 0; padding: 0; outline: 0; }

body {
	background: #caced1;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #777;
	text-align: center;
	margin: 15px 0;
}

/* links */
a, a:visited {
	text-decoration: none;
	background: inherit;
	color: #FB9233; 
}
a:hover {
	text-decoration: underline;
	background: inherit;
	color: #93C600;
}

/* headers */
h1, h2, h3 { font-family: 'Trebuchet MS', Tahoma, Sans-serif;  }
h1 {
	font-size: 180%;	
	font-weight: normal;	
	color: #555;
}
h2 {
	font-size: 160%;
	color: #88ac0b;
	font-weight: normal;
}
h3 {
	font-size: 135%;	 
	color: #666666;
}

/* images */
img {
	background: #fff;
   border: 1px solid #E5E5E5;
	padding: 5px;
}
img.float-right { margin: 5px 0px 10px 10px;  }
img.float-left { margin: 5px 10px 10px 0px; }

h1, h2, h3, p {
	margin: 10px 15px;
	padding: 0;
}
ul, ol {
	margin: 5px 15px;
	padding: 0 25px;
}

code {
  margin: 5px 0;
  padding: 15px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  /* white-space: pre; */
  border: 1px solid #E5F0FB;  
  background: #F4F8FD;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #777;
}
blockquote {
  margin: 10px 15px;
  padding: 0 0 0 25px;  
  font: bold 1.3em/1.5em "Trebuchet MS", Tahoma, arial, Sans-serif; 
  color: #2361BA;
  border: 1px solid #E5F0FB;   
  background: #F4F8FD url(../images/quote.jpg) no-repeat 8px 6px;
}

/* start - table */
table {
	border-collapse: collapse;
	margin: 10px 15px;
    width: 95%;
}
th strong {
	color: #fff;
}
th {
	background: #306bc1 url(../images/button-bg.jpg) repeat-x 0 0;
	height: 35px;
	padding-left: 12px;
	padding-right: 12px;
	color: #fff;
	text-align: left;
	border: 1px solid #306bc1;
	border-bottom-width: 2px;
}
tr {
	height: 32px;
	background: #fff;	
}
td {
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #E5F0FB; 
}
/* end - table */

/* form elements */
form {
	margin:10px 15px; 
	padding: 10px 0;
}
fieldset {
	margin: 0;	padding: 0;
	border: none;
}
legend {
	display: none;
}
label {
	display:block;
	font-weight:bold;
	margin: 7px 0;
}
/* search form */
.searchform {
	background-color: transparent;
	border: none;	
	margin: 0; 
	padding: 5px 0 5px 0;	
	width: 180px;	
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 110px;
	color: #777; 
	height: 20px;
	padding: 2px;	
	border: 1px solid #D2E8F7; 
	vertical-align: top;
}
.searchform input.button { 
	width: 55px;
	height: 26px;
	padding: 2px 5px;
	vertical-align: top;
}

/********************************************
   LAYOUT
********************************************/ 
#wrap {
	width: 790px;
	
	margin: 0 auto;
	text-align: left;
}
#wrap-white {
    width: 790px;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: left;
}

#content-wrap {
	clear: both;
	width: 760px;	
	margin: 5px auto;
	padding: 0; 	
}
#header {
	position: relative;
	height: 131px;
	
	padding: 0;	
	color: #fff;	
}
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 50px 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -3px;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	background: transparent;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 18px; left: 35px;	
}
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 13px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 80px; left: 50px;		
}

/* header links */
#header #header-links {
	position: absolute;
	color: #C6DDEE;
	
	top: 20px; right: 20px;	
}
#header #header-links a {	
	color: #fff;
	text-decoration: none;	
}
#header #header-links a:hover {
	color: #D4FF55;	
}

/* navigation */
#menu {
	clear: both;	
	margin: 0 auto; padding: 0;
	background: #81C524 url(../images/menu.jpg) no-repeat;
	font: bold 16px/40px "trebuchet MS", Arial, Tahoma, Sans-serif;
	height: 40px;
	width: 790px;	
}
#menu ul {
	float: left;
	list-style: none;
	margin:0; padding: 0 0 0 20px;
}
#menu ul li {
	display: inline;
}
#menu ul li a {
	display: block;
	float: left;
	padding: 0 12px;
	color: #fff;	
	text-decoration: none;
	background: url(../images/sep.jpg) no-repeat 100% 100%;
}
#menu ul li a:hover {
	color: #3b5e0b;	
}
#menu ul li#current a {	
	color: #3b5e0b;
}

/* Main Column */
#main {
	float: left;
	width: 544px;
	margin: 0;
    padding: 20px 0 0 0;
	display: block;
	background: url(../images/box.jpg) no-repeat;
}
#main h2 {
	font: normal 180% 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	padding: 0; 	
	margin-bottom: 0;		
	color: #2666c3;
}
#main h2 a {
	color: #2666c3;
	text-decoration: none;	
}

#main p, #main h1, #main h2, #main h3, #main ol, #main ul,
#main blockquote, #main table, #main form {
	margin-left: 20px;
	margin-right: 25px;
}
#main ul li {
	list-style: circle;
}

/* Sidebar */	
#sidebar {
	float: right;
	width: 195px;
	padding: 0; margin: 10px 0 0 0;	
	color: #777;	
}	
#sidebar h2 {
	margin: 15px 5px 10px 5px;
	font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #555;	
}
#sidebar p {
	margin-left: 5px;
}

#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 7px 10px 8px 0; padding: 0;
	text-decoration: none;	
	border-top: 1px solid #A9D4EF;	
}
#sidebar ul.sidemenu li {
	list-style: none;
	padding: 4px 0 4px 5px;
	margin: 0 2px;	
	color: #777;	
	border-bottom: 1px solid #D2E8F7; 
}
* html body #sidebar ul.sidemenu li {
	height: 1%;
}
#sidebar ul.sidemenu li a {
	text-decoration: none;	
	color: #1773BC;				
}
#sidebar ul.sidemenu li a:hover {	
	color: #333;
}
#sidebar ul.sidemenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.sidemenu ul li { border: none; }

/* Footer */	
#footer {
	color: #C6DDEE;
	
	clear: both;
	width: 790px;
	height: 57px;
	text-align: center;	
	font-size: 90%;	
}
#footer p { 
	padding: 10px 0;
	margin: 0;
}
#footer a { 
	color: #fff;
	text-decoration: none; 
}

/* post footer */
.post-footer {
	background: #F4F8FD;
	padding: 5px; margin: 20px 25px 0 25px;
	border: 1px solid #E5F0FB; 
	font-size: 95%;	
}
.post-footer .date {	padding-left: 0px; margin: 0 5px; }
.post-footer .comments { padding-left: 0px; margin: 0 5px; }
.post-footer .readmore { padding-left: 0px; margin: 0 5px; }

.post-by { font-size: .95em;	margin-top: 0;	}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }

/*=======================================
*   Additional CSS for Forms Fields
=======================================*/
/* Data input classes*/
.input-field {
    height: 18px;
    border: #b6b6b6 1px solid;
    padding: 7px 5px;
    font: normal 1em Verdana, sans-serif;
    font-size: 13px;
    color: #555555;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    -ms-border-radius: 5px;
    min-width: 260px;
}
.input-field-table
{
    min-width: 90% !important;
}

.select-option {
    height: 34px;
    border: #b6b6b6 1px solid;
    font: normal 1em Verdana, sans-serif;
    padding: 7px 5px;
    font-size: 13px;
    color: #555555;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    -ms-border-radius: 5px;
    min-width: 260px;
}

.textarea-panel {
    border: #b6b6b6 1px solid;
    padding: 7px 5px;
    font: normal 1em Verdana, sans-serif;
    font-size: 13px;
    color: #555555;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    -ms-border-radius: 5px;
    min-width: 260px;
    height: 135px;
    width: 350px;
}

.button {
    padding: 5px 15px;
    display: block;
    font-size: 16px;
    background: #306bc1 url(../images/button-bg.jpg) repeat-x 0 0;
    font: bold 12px Arial, Sans-serif;
    color: #FFF;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    -ms-border-radius: 5px;
}

.button:hover {
    background-position: left bottom;
    text-decoration: none;
}

.clearfix {
    clear: both;
}
.padding10
{
    padding: 10px;
}

.popup-container {
    margin: auto;
    width: 100%;
    height: auto;
}

.bg-white {
    background-color: #fff;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.half-width {
    width: 48%;
    margin-bottom: 10px;
}

.one-fourth-width {
    width: 24%;
    margin-bottom: 10px;
}

.one-third-width {
    width: 33%;
    margin-bottom: 10px;
}

.three-fourth-width {
    width: 73%;
    margin-bottom: 10px;
}

.mleft2p {
    margin-left: 2%;
}

.mright2p {
    margin-right: 2%;
}

.mright5p {
    margin-right: 5%;
}

.mleft5p {
    margin-left: 5%;
}

.mtop2p {
    margin-top: 2%;
}

.mbot2p {
    margin-bottom: 2%;
}

.display-label {
    width: 25%;
}

.display-data {
    width: 70%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.acenter {
    text-align: center !important;
}

.no-bg {
    background: none !important;
}

.no-border {
    border: none;
    outline: none;
}
.border
{
    border-bottom: 2px solid #A9D4EF;
}

.heading {
    color: #306bc1;
}
.morquee-element
{
    margin-bottom: 15px;
}
.date
{
    font-style: italic;
    font-size: 10px;
}
.bold-font
{
    font-weight: bold;
}
/*========= MESSAGES ==================================*/
/* info and errors */
.message-info {
    color: white;
    border-radius: 5px;
    background-color: #3D92CC;
    display: block;
    width: 89%;
    background-image: url(../images/info.png);
    font-weight: normal;
    margin: 20px 0 10px 15px;
    padding: 8px 5px 9px 30px;
    background-repeat: no-repeat;
    background-position: 6px center;
    font-size: 11px;
}

.message-warning {
    color: white;
    border-radius: 5px;
    background-color: #EB7D24;
    background-image: url(../images/warning.png);
    font-weight: normal;
    display: block;
    width: 89%;
    margin: 20px 0 10px 15px;
    padding: 8px 5px 9px 30px;
    background-repeat: no-repeat;
    background-position: 6px center;
    font-size: 11px;
}

.message-error {
    color: white;
    border-radius: 5px;
    background-color: #CB0F0F;
    background-image: url(../images/error.png);
    display: block;
    width: 89%;
    font-weight: normal;
    margin: 20px 0 10px 15px;
    padding: 8px 5px 9px 30px;
    background-repeat: no-repeat;
    background-position: 6px center;
    font-size: 11px;
}

.message-success {
    color: white;
    border-radius: 5px;
    background-color: green;
    background-image: url(../images/ok.png);
    font-weight: normal;
    margin: 20px 0 10px 15px;
    padding: 8px 5px 9px 30px;
    background-repeat: no-repeat;
    display: block;
    width: 89%;
    background-position: 6px center;
    font-size: 11px;
}

.error {
    color: #e80c4d;
}

.label,.badge{display:inline-block;padding:2px 4px;font-size:10.998px;font-weight:bold;line-height:14px;color:#ffffff;vertical-align:baseline;white-space:nowrap;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#999999;}
.label{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.badge{padding-left:9px;padding-right:9px;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}
a.label:hover,a.badge:hover{color:#ffffff;text-decoration:none;cursor:pointer;}
.label-important,.badge-important{background-color:#b94a48;}
.label-important[href],.badge-important[href]{background-color:#953b39;}
.label-warning,.badge-warning{background-color:#f89406;}
.label-warning[href],.badge-warning[href]{background-color:#c67605;}
.label-success,.badge-success{background-color:#468847;}
.label-success[href],.badge-success[href]{background-color:#356635;}
.label-info,.badge-info{background-color:#3a87ad;}
.label-info[href],.badge-info[href]{background-color:#2d6987;}
.label-inverse,.badge-inverse{background-color:#333333;}
